###
replicaCount: 1
image:
  repository: aogl/hello-world
  pullPolicy: IfNotPresent
  tag: "" #defaults to chart.yaml appVersion
service:
  name: hello-world
  type: LoadBalancer
  externalPort: 80
  internalPort: 8008
  port: 80
###

imagePullSecrets: [ ]
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: { }
  name: ""

ingress:
  enabled: false
  annotations: {}
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          backend:
            serviceName: chart-example.local
            servicePort: 80
  tls: [ ]

resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

nodeSelector: { }
tolerations: [ ]
affinity: { }
podAnnotations: { }
podSecurityContext: { }
securityContext: { }