replicaCount: 1
image:
  repository: ignaciolopezventimiglia/orders-service
  tag: ${IMAGE_VERSION}
service:
  type: ClusterIP
  port: 8080
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
nodeSelector: {}
tolerations: []
affinity: {}
