apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "microservice.fullname" . }}
  labels:
    app: {{ include "microservice.fullname" . }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ include "microservice.fullname" . }}
  template:
    metadata:
      labels:
        app: {{ include "microservice.fullname" . }}
    spec:
      imagePullSecrets: {}
      serviceAccountName: {{ include "microservice.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ include "microservice.fullname" . }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: ifNotPresent
          - ports:
            - containerPort: 8080
          env:
            {{- toYaml .Values.env | nindent 12 }}
          livenessProbe:
            httpGet:
              path: /
              port: 8080
          readinessProbe:
            httpGet:
              path: /
              port: 8080
          resources:
            limits:
              cpu: 200m
              memory: 256Mi
            requests:
              cpu: 100m
              memory: 128Mi
          nodeSelector: {}
          affinity: {}
          tolerations: {}