apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "microservice.fullname" . }}
  labels:
    app: {{ include "microservice.fullname" . }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: 1
  selector:
    matchLabels:
      app: {{ include "microservice.fullname" . }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      labels:
        app: {{ include "microservice.fullname" . }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets: {}
      serviceAccountName: {{ include "microservice.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ include "microservice.fullname" . }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          - ports:
            - containerPort: 8080
          env:
            {{- toYaml .Values.env | nindent 12 }}
          livenessProbe:
            httpGet:
              path: /
              port: 8080
          readinessProbe:
            httpGet:
              path: /
              port: 8080
          resources:
            limits:
              cpu: 100m
              memory: 128Mi
            requests:
              cpu: 100m
              memory: 128Mi