apiVersion: v1
kind: Service
metadata:
  name: {{ include "microservice.fullname" . }}
  labels:
    app: {{ include "microservice.fullnameOverride" . }}
spec:
  type: ClusterIP
  selector:
    app: {{ include "microservice.fullnameOverride" . }}
  ports:
    - name: http
      protocol: TCP
      port: 8080
      targetPort: 8080