apiVersion: v1
kind: Service
metadata:
  name: {{ include "borrar.fullname" . }}
  labels:
    {{- include "borrar.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "borrar.selectorLabels" . | nindent 4 }}
    app: {{ .Values.nameOverride }}
