name: DeployIaC
on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      AWS_CREDENTIALS:
        required: true
        type: string
        description: 'El archivo de credenciales devuelto por AWS Educate'
      environment:
        type: string
        required: false
        default: "develop"
jobs:
  DEPLOY_INFRA:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[skip iac deploy]')"
    steps:
      - name: Check out project
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Run check Terraform
        run: |
          terraform --version
          cd terraform_manifests && terraform validate
      - name: Run Terraform
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          cd terraform_manifests
          ln -sf ../environments/develop/config.vars.tf .
          cat config.vars.tf
          ls -la
          terraform init --reconfigure -input=false
        #terraform apply --auto-approve