name: DeployIaC
on:
  push:
    branches:
      - !main
  workflow_dispatch:
    inputs:
      AWS_CREDENTIALS:
        required: true
        type: string
        description: 'El archivo de credenciales devuelto por AWS Educate'
      environment:
        type: string
        required: false
        default: "develop"
jobs:
  DEPLOY_INFRA:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[skip iac deploy]')"
    steps:
      - name: Check out project
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Run check Terraform
        run: |
          terraform --version
          mkdir ~/.aws/
        #cd terraform_manifests && terraform validate
      - uses: "finnp/create-file-action@master"
        env:
          FILE_NAME: "~/.aws/credentials"
          FILE_DATA: ${{ inputs.AWS_CREDENTIALS }}
      - name: Apply
        run: |
          cd environments/${{ inputs.environment }}
          terraform init --reconfigure -input=false
        #terraform apply --auto-approve