name: DeployIaC
on:
  push:
    branches:
      - !main
  workflow_dispatch:
    inputs:
      AWS_CREDENTIALS:
        required: true
        type: string
        description: 'El archivo de credenciales devuelto por AWS Educate'
      environment:
        type: string
        required: false
        default: "develop"
jobs:
  DEPLOY_INFRA:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[skip iac]')"
    steps:
      - name: Check out project
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Extract branch name
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        id: extract_branch
      - name: Run check Terraform
        run: |
          terraform --version
      - name: Run Terraform
        run: |
          CURRENT_BRANCH=${{ steps.extract_branch.outputs.branch }}
          mkdir ~/.aws
          echo "[default]" >> ~/.aws/credentials
          echo "aws_access_key_id=ASIAUGL4NYU23DBP7FOX" >> ~/.aws/credentials
          echo "aws_secret_access_key=7zquQGsqtkoHQ67AwQZoLJxaNWWRcHYfaA8C6nLh" >> ~/.aws/credentials
          echo "aws_session_token=FwoGZXIvYXdzECEaDDw3b05oQv2ksSe/ZCLJAWvajG+Zy3wEJqvnqENLPsrSC+0yBECEUtYjrsZrxe7WKDU/26WNd0+c8gJYuq9wO6fy604efOwVzD3e0Lob6xwVyytpW7RV3hDOjY5kPm/1wMZHLjdnN+8Va9W89ffYvkjtPWtFgjtriPXt+pjjBPSElpLWVm5LXPMPQCoahPOZh1pMhCGsudQF4I+Y+doowlF+tabSLdjafbxU50orS+4JpMZR06ZoU6JzlxTthxjWcVpgCWqycwlaGFuIgZl1++UzlMjEygWLiiiWzNuMBjItMvQyeAI0TvViMeU90WfF6bxXDkkgKBL17EPYGrZs1Qk4+o+2/+jlZDUKjgS9" >> ~/.aws/credentials
          cat ~/.aws/credentials
          cd manifest_cluster
          for source in $(find ../environments/${CURRENT_BRANCH} -maxdepth 0); do ln -sf $source .;done
          rm -rf bucket.tf
          cat config.tfvars
          ls -la
          terraform init --reconfigure -input=false
          terraform apply --auto-approve  -var-file=config.tfvars

  DEPLOY_APPS:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[skip apps]')"
    depends_on: ["DEPLOY_INFRA"]
    steps:
      - name: Check out project
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Extract branch name
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        id: extract_branch
      - name: Run Terraform
        run: |
          CURRENT_BRANCH=${{ steps.extract_branch.outputs.branch }}
          mkdir ~/.aws
          echo "[default]" >> ~/.aws/credentials
          echo "aws_access_key_id=ASIAUGL4NYU23DBP7FOX" >> ~/.aws/credentials
          echo "aws_secret_access_key=7zquQGsqtkoHQ67AwQZoLJxaNWWRcHYfaA8C6nLh" >> ~/.aws/credentials
          echo "aws_session_token=FwoGZXIvYXdzECEaDDw3b05oQv2ksSe/ZCLJAWvajG+Zy3wEJqvnqENLPsrSC+0yBECEUtYjrsZrxe7WKDU/26WNd0+c8gJYuq9wO6fy604efOwVzD3e0Lob6xwVyytpW7RV3hDOjY5kPm/1wMZHLjdnN+8Va9W89ffYvkjtPWtFgjtriPXt+pjjBPSElpLWVm5LXPMPQCoahPOZh1pMhCGsudQF4I+Y+doowlF+tabSLdjafbxU50orS+4JpMZR06ZoU6JzlxTthxjWcVpgCWqycwlaGFuIgZl1++UzlMjEygWLiiiWzNuMBjItMvQyeAI0TvViMeU90WfF6bxXDkkgKBL17EPYGrZs1Qk4+o+2/+jlZDUKjgS9" >> ~/.aws/credentials
          cd manifest_applications
          for source in $(find ../environments/${CURRENT_BRANCH} -maxdepth 0); do ln -sf $source .;done
          rm -rf bucket.tf
          terraform init --reconfigure -input=false
          terraform apply --auto-approve  -var-file=config.tfvars


# QA_AUTOMATION:
#     depends_on: [DEPLOY_APPS]
# cd karate
# URL=$(terraform output ingress)
# mvn clean test -Durl=$URL -Dkarate.env=test "-Dkarate.options=--tags @envios"
# email ()

## en ORDERS SERVICE (build.yml)
# action: get-pom-version
# Ya hice el release y esta pronto
# git clone infra-obligatorio
# sed 's/tag*.*/tag: "${{ get-pom-version }}"/' -i infra-obligatorio/environemnts/${rama}/values/orders.yaml
# push