name: DeployIaC
on:
  push:
    branches:
      - main
jobs:
  SETUP:
    runs-on: ubuntu-latest
    if: "contains(github.event.head_commit.message, '[CD]')"
    steps:
      - uses: actions/checkout@v2
      - id: setup
        env:
          AWS_CREDENTIALS: ${{secrets.AWS_CREDENTIALS}}
          REGION: us-east-1
        run: |
          COMMIT_MSG="${{github.event.head_commit.message}}"
          DEST_ENV=$(echo "$COMMIT_MSG" | cut -d"|" -f2 | sed -e 's/^[ \t]*//')
          ##
          echo "##[set-output name=DEST_ENV;]$(echo $DEST_ENV)"
    outputs:
      DEST_ENV: ${{ steps.setup.outputs.DEST_ENV }}
  DEPLOY_INFRA:
    runs-on: ubuntu-latest
    needs: ["SETUP"]
    steps:
      - uses: actions/checkout@v2
      - name: Run Terraform
        env:
          AWS_CREDENTIALS: ${{secrets.AWS_CREDENTIALS}}
        run: |
          DEST_ENV=${{ needs.SETUP.outputs.DEST_ENV }}
          ##
          mkdir ~/.aws
          echo "$AWS_CREDENTIALS" > ~/.aws/credentials
          FULL_PATH=$(pwd) && cd manifest_cluster
          cp -sr $FULL_PATH/environments/$DEST_ENV/** .
          rm -rf app_bucket.tf
          terraform init --reconfigure -input=false
          terraform apply --auto-approve  -var-file=config.tfvars
  DEPLOY_APPS:
    runs-on: ubuntu-latest
    needs: ['DEPLOY_INFRA', "SETUP"]
    steps:
      - uses: actions/checkout@v2
      - env:
          AWS_CREDENTIALS: ${{secrets.AWS_CREDENTIALS}}
        run: |
          DEST_ENV=${{needs.SETUP.outputs.DEST_ENV}}
          ##
          mkdir ~/.aws
          echo "$AWS_CREDENTIALS" > ~/.aws/credentials
          aws eks --region us-east-1 update-kubeconfig --name cluster-$DEST_ENV
          FULL_PATH=$(pwd) && cd manifest_applications
          cp -sr $FULL_PATH/environments/$DEST_ENV/** .
          rm -rf bucket.tf
          terraform init --reconfigure -input=false
          terraform apply --auto-approve -var-file=config.tfvars
  TEST_AUTOMATION:
    runs-on: ubuntu-latest
    needs: ["DEPLOY_APPS", "SETUP"]
    steps:
      - uses: actions/checkout@v2
      - name: Run Terraform
        env:
          AWS_CREDENTIALS: ${{ secrets.AWS_CREDENTIALS }}
        run: |
          DEST_ENV=${{ needs.SETUP.outputs.DEST_ENV }}
          ##
          mkdir ~/.aws
          echo "$AWS_CREDENTIALS" > ~/.aws/credentials
          FULL_PATH=$(pwd) && cd manifest_applications
          cp -sr $FULL_PATH/environments/$DEST_ENV/** .
          rm -rf bucket.tf
          terraform init --reconfigure -input=false
          URL=$(terraform output -raw endpoint_out)
          cd karate
          ./mvnw clean test -Durl=$URL -Dkarate.env=${DEST_ENV} "-Dkarate.options=--tags @regression"
      - name: Send mail
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.gmail.com
          server_port: 465
          username: ${{secrets.MAIL_USERNAME}}
          password: ${{secrets.MAIL_PASSWORD}}
          subject: "QA Automation ${DEST_ENV} Report"
          to: renzo.di.fede@gmail.com, fernanda.montesano@gmail.com, ignaciolopez409@gmail.com
          from: githubaction@obligatorio.com
          secure: true
          body: QA Automation ${DEST_ENV} completed successfully!
          ignore_cert: true
          convert_markdown: true
          attachments: karate/target/cucumber-html-reports/overview-features.html
          priority: normal