name: DeployIaC
on:
  push:
    branches:
      - main
jobs:
  SETUP:
    runs-on: ubuntu-latest
    if: "contains(github.event.head_commit.message, '[CD]')"
    steps:
      - uses: actions/checkout@v2
      - name: Run Terraform
        id: setup
        run: |
          COMMIT_MSG="${{github.event.head_commit.message}}"
          echo "##[set-output name=DEST_ENV;]$(echo $(echo "$COMMIT_MSG" | cut -d"|" -f2))"
    outputs:
      DEST_ENV: ${{ steps.setup.outputs.DEST_ENV }}
  DEPLOY_INFRA:
    runs-on: ubuntu-latest
    needs: ["SETUP"]
    steps:
      - name: Check out project
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Run Terraform
        env:
          AWS_CREDENTIALS: ${{secrets.AWS_CREDENTIALS}}
        run: |
          DEST_ENV=$${{ needs.SETUP.outputs.DEST_ENV }}
          ##
          mkdir ~/.aws
          echo "$AWS_CREDENTIALS" > ~/.aws/credentials
          aws s3api create-bucket --bucket "$DEST_ENV-states" --region us-east-1 --acl private
          cd manifest_cluster
          for source in $(find ../environments/${DEST_ENV} -maxdepth 0); do ln -sf $source .;done
          rm -rf app_bucket.tf
          terraform init --reconfigure -input=false
          terraform apply --auto-approve  -var-file=config.tfvars

  DEPLOY_APPS:
    runs-on: ubuntu-latest
    needs: ['DEPLOY_INFRA', "SETUP"]
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Run Terraform
        env:
          AWS_CREDENTIALS: ${{secrets.AWS_CREDENTIALS}}
        run: |
          DEST_ENV=$${{ needs.SETUP.outputs.DEST_ENV }}
          ##
          mkdir ~/.aws
          echo "$AWS_CREDENTIALS" > ~/.aws/credentials
          aws s3api create-bucket --bucket "$DEST_ENV-states" --region us-east-1 --acl private
          cd manifest_applications
          for source in $(find ../environments/${DEST_ENV} -maxdepth 0); do ln -sf $source .;done
          rm -rf bucket.tf
          terraform init --reconfigure -input=false
          terraform apply --auto-approve -var-file=config.tfvars
  TEST_AUTOMATION:
    runs-on: ubuntu-latest
    needs: ["DEPLOY_APPS", "SETUP"]
    steps:
      - uses: actions/checkout@v2
      - name: Extract branch name
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        id: extract_branch
      - name: Run Terraform
        env:
          AWS_CREDENTIALS: ${{ secrets.AWS_CREDENTIALS }}
        run: |
          DEST_ENV=$${{ needs.SETUP.outputs.DEST_ENV }}
          ##
          mkdir ~/.aws
          echo "$AWS_CREDENTIALS" > ~/.aws/credentials
          cd manifest_cluster
          for source in $(find ../environments/${DEST_ENV} -maxdepth 0); do ln -sf $source .;done
          rm -rf app_bucket.tf
          terraform init --reconfigure -input=false
          URL=$(terraform output endpoint_out -raw)
          cd karate
          ./mvnw clean test -Durl=$URL -Dkarate.env=${DEST_ENV} "-Dkarate.options=--tags @regression"