name: DeployIaC
on:
  push:
    branches:
      - main
jobs:
  DEPLOY_INFRA:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[skip iac deploy]')"
    steps:
      - name: Run check terraform
        run: terraform --version