name: DeployIaC
on:
  push:
    branches:
      - !main
jobs:
  DEPLOY_INFRA:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[skip iac]')"
    steps:
      - name: Check out project
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Extract branch name
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        id: extract_branch
      - name: Run check Terraform
        run: |
          terraform --version
      - name: Run Terraform
        run: |
          CURRENT_BRANCH=${{ steps.extract_branch.outputs.branch }}
          mkdir ~/.aws
          echo "${{secrets.AWS_CREDENTIALS}}" > ~/.aws/credentials
          aws s3api create-bucket --bucket $CURRENT_BRANCH-states --region us-east-1 --acl private
          cd manifest_cluster
          for source in $(find ../environments/${CURRENT_BRANCH} -maxdepth 0); do ln -sf $source .;done
          rm -rf app_bucket.tf
          terraform init --reconfigure -input=false
          terraform apply --auto-approve  -var-file=config.tfvars

  DEPLOY_APPS:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[skip apps]')"
    depends_on: [ "DEPLOY_INFRA" ]
    steps:
      - name: Check out project
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Extract branch name
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        id: extract_branch
      - name: Run Terraform
        run: |
          CURRENT_BRANCH=${{ steps.extract_branch.outputs.branch }}
          mkdir ~/.aws
          echo "${{secrets.AWS_CREDENTIALS}}" > ~/.aws/credentials
          aws s3api create-bucket --bucket $CURRENT_BRANCH-states --region us-east-1 --acl private
          cd manifest_applications
          for source in $(find ../environments/${CURRENT_BRANCH} -maxdepth 0); do ln -sf $source .;done
          rm -rf bucket.tf
          terraform init --reconfigure -input=false
          terraform apply --auto-approve -var-file=config.tfvars

  TEST_AUTOMATION:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[skip tests]')"
    depends_on: [ "DEPLOY_APPS" ]
      - name: Check out project
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Extract branch name
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        id: extract_branch
      - name: Run Terraform
        run: |
          CURRENT_BRANCH=${{ steps.extract_branch.outputs.branch }}
          cd manifest_cluster
          for source in $(find ../environments/${CURRENT_BRANCH} -maxdepth 0); do ln -sf $source .;done
          rm -rf app_bucket.tf
          terraform init --reconfigure -input=false
          URL=$(terraform output endpoint_out -raw)
          cd karate
          ./mvnw clean test -Durl=$URL -Dkarate.env=${CURRENT_BRANCH} "-Dkarate.options=--tags @regression"